input-select-remote {
    display: block;
    border: red;
    .panel.detail {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        top: 100%;
        //margin-top: -1px;
        z-index: 5;
        background: white;
        .detail-items {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            display: block;
            width: 100%;
            height: 10rem;
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: scroll;
            .panel-block:first-child {
                border-top: none;
            }
            .panel-block:last-child {
                border-bottom: none;
            }
        }
    }
}